{% extends "method.html" %}
{% block content %}

    <h1>BigInteger</h1>
    {% for bi in biginteger %}
    <div><p>{{ bi.method }}: <b>{{ bi.sourcecode }}</b></p>
    <p>{{ bi.keypoints }}</p>
    </div>
    {% endfor %}

    Example code - https://www.hackerrank.com/challenges/fibonacci-modified<hr>
    <div　class="examplecode">
		public static void main(String[] args) {<br>
   		&emsp;&emsp; Scanner sc = new Scanner(System.in);<br>
    	&emsp;&emsp; int A = sc.nextInt();<br>
        &emsp;&emsp; int B = sc.nextInt();<br>
        &emsp;&emsp; int N = sc.nextInt();<br>
        &emsp;&emsp; BigInteger single = BigInteger.valueOf(A);<br>
        &emsp;&emsp; BigInteger squared = BigInteger.valueOf(B);<br>
        &emsp;&emsp; BigInteger temp; // Need temp because otherwise it gets circular<br><br>
        &emsp;&emsp; for (int i = 3; i <= N; i++) {<br>
        &emsp;&emsp; &emsp;&emsp; temp = single;<br>
        &emsp;&emsp; &emsp;&emsp; single = squared;<br>
        &emsp;&emsp; &emsp;&emsp; squared = squared.multiply(squared).add(temp);<br>
        &emsp;&emsp; }<br>
        &emsp;&emsp; System.out.println(squared);<br>
    	}
    </div>

    <div　class="sources">
        <a href="http://docs.oracle.com/javase/7/docs/api/java/math/BigInteger.html"></a>
        <a href="http://www.quickprogrammingtips.com/java/using-biginteger-in-java.html"></a>
    </div>
{% endblock %}

