{% extends "method.html" %}
{% block content %}
    <h1>HashMaps</h1>
    {% for hm in hashmap %}
    <div><p>{{ hm.method }}: <b>{{ hm.sourcecode }}</b></p>
    <p>{{ hm.keypoints }}</p>
    </div>
    {% endfor %}
{% endblock %}
