<!DOCTYPE html>
<html>
  <head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">
    <meta charset="UTF-8"> 

    <script src="{{ url_for('static',filename='styles/jquery-1.11.3.js') }}"></script>

    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Title not found</title>
    {% endif %}

  </head>

  <body>

    <div class = "title">
      <!--Helloooo, {{ user.fname }}!-->
      <h3>Entrance page to study guide.</h3>
      <hr>

      <div id="classes">
        <h2>Jave Classes (alphabetically ordered)</h2>
        <p>BigInteger: <a href="/mystudyguide/biginteger">BigInteger</a></p>
        <p>HashMap: <a href="/mystudyguide/hashmap">HashMap</a></p>
      </div>
      <br>
      
      <div id="designPatterns">
        <h2>Design Patterns (alphabetically ordered)</h2>
        <p>Factory Pattern: </p>
        <p>Singleton: </p>
      </div>
      <br>
      
      <div id="other">
        <h2>Other</h2>
        <p><a href="/mystudyguide/reflection">Reflection</a></p>
        <p><a href="/mystudyguide/database">Database</a></p>
        <div id="faq">
          <!--<p>BigInteger: <a href="/mystudyguide/biginteger">BigInteger</a></p>
          <p>HashMap: <a href="/mystudyguide/hashmap">HashMap</a></p>-->
        </div>
      </div>
    
    </div>

  </body>
 
</html>
