<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">
    <meta charset="UTF-8"> 

    <script src="{{ url_for('static',filename='styles/jquery-1.11.3.js') }}"></script>

    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Title not found</title>
    {% endif %}

  </head>

  <body>
    <div>Homeee: <a href="/mystudyguide">Home</a></div>
    <hr>
    
    Stuff about reflections here
    
    <div　class="sources">
        <a href="http://tutorials.jenkov.com/java-reflection/index.html">Jenkov's Tutorial</a>
    </div>
    

    <div>Home: <a href="/mystudyguide">Home</a></div>
  </body>
 
</html>
